@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.stat-panel {
  text-align: center;
  display: inline-block;
  background: #282a34;
  color: #fff;
  padding: 1rem 1rem 2rem 1rem;
}
.stat-panel .stat-title {
  margin-bottom: 0.5rem;
}
.stat-panel .stat-value {
  padding: 0.5rem 0.7rem;
  display: inline-block;
  border: 1px solid #3a414a;
  border-radius: 4px;
  position: relative;
  font-size: 1.1rem;
  background: #1c1d20;
}
.stat-panel .stat-value .stat-addition {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 4px;
  padding: 0.1rem 0.3rem;
  color: #34495e;
  font-size: 0.9rem;
  border: 1px solid black;
}